.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  @apply relative bg-gray-800 text-gray-200 font-sans font-semibold rounded-md px-3 py-1 backdrop-filter backdrop-blur bg-opacity-75 text-sm;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^="top"] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}

.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  @apply w-4 h-4;
  color: #333;
}

.tippy-arrow:before {
  @apply absolute border-transparent border-solid;
  content: '';
}

.tippy-content {
  @apply relative py-1 px-2 z-10;
}

.tippy-box[data-placement^="top"] > .tippy-backdrop {
  transform-origin: 0 25%;
  border-radius: 40% 40% 0 0;
}

.tippy-box[data-placement^="top"] > .tippy-backdrop[data-state="visible"] {
  transform: scale(1) translate(-50%, -55%);
}

.tippy-box[data-placement^="top"] > .tippy-backdrop[data-state="hidden"] {
  transform: scale(0.2) translate(-50%, -45%);
}

.tippy-box[data-placement^="bottom"] > .tippy-backdrop {
  transform-origin: 0 -50%;
  border-radius: 0 0 30% 30%;
}

.tippy-box[data-placement^="bottom"] > .tippy-backdrop[data-state="visible"] {
  transform: scale(1) translate(-50%, -45%);
}

.tippy-box[data-placement^="bottom"] > .tippy-backdrop[data-state="hidden"] {
  transform: scale(0.2) translate(-50%);
}

.tippy-box[data-placement^="left"] > .tippy-backdrop {
  transform-origin: 50% 0;
  border-radius: 50% 0 0 50%;
}

.tippy-box[data-placement^="left"] > .tippy-backdrop[data-state="visible"] {
  transform: scale(1) translate(-50%, -50%);
}

.tippy-box[data-placement^="left"] > .tippy-backdrop[data-state="hidden"] {
  transform: scale(0.2) translate(-75%, -50%);
}

.tippy-box[data-placement^="right"] > .tippy-backdrop {
  transform-origin: -50% 0;
  border-radius: 0 50% 50% 0;
}

.tippy-box[data-placement^="right"] > .tippy-backdrop[data-state="visible"] {
  transform: scale(1) translate(-50%, -50%);
}

.tippy-box[data-placement^="right"] > .tippy-backdrop[data-state="hidden"] {
  transform: scale(0.2) translate(-25%, -50%);
}

.tippy-box[data-animatefill] {
  background-color: transparent !important;
}

.tippy-backdrop {
  @apply absolute bg-gray-800 rounded-full backdrop-filter backdrop-blur bg-opacity-75;
  width: calc(110% + 32px);
  left: 50%;
  top: 50%;
  z-index: -1;
  transition: all cubic-bezier(0.46, 0.1, 0.52, 0.98);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tippy-backdrop[data-state="hidden"] {
  opacity: 0;
}

.tippy-backdrop:after {
  content: "";
  float: left;
  padding-top: 100%;
}

.tippy-backdrop + .tippy-content {
  transition-property: opacity;
  will-change: opacity;
}

.tippy-backdrop + .tippy-content[data-state="hidden"] {
  opacity: 0;
}
